$container-width: 960px;

.container {
  width: $container-width;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
  padding: 50px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

@mixin button-styles($background-color, $color) {
  background-color: $background-color;
  color: $color;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}
.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.btn {
  @include button-styles(#3498db, #ffffff);
}
