.cart {
  min-height: calc(100vh - 447px);
  margin: 0 250px;
}
.cart > h2 {
  margin: 50px 0;
  font-size: 36px;
  font-weight: 700;
}
.cart > hr {
  margin-bottom: 114px;
  border: 1px solid#eaeaea;
}
.cart_container {
  display: flex;
  justify-content: space-between;
  gap: 129px;
}
.total {
  width: 388px;
  display: flex;
  flex-direction: column;
  margin-bottom: 635px;
}
.total > ul > li {
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  line-height: 98%;
  margin-top: 41px;
}
.total > h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 26px;
}
.total > hr {
  margin: 64px 0 5px;
  color: rgba(0, 0, 0, 0.5);
}
.price_name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.price {
  font-size: 24px;
  font-weight: 700;
}
