body {
    font-family: Arial, sans-serif;
    background-color: #f3d0d0;
    margin-top: 15%;    
}
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.forms {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
.forms input {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.forms button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}