* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.gallery_item img {
    width: 100%;
    height: auto;
    display: block;
}