.math{
    margin-top: 150px;
    background: rgb(167, 213, 235);
    border: 2px solid black;
    border-radius: 20px;
}
.math > p{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}